.navbar{
    border-radius: 0;
}

#gamersTable td
{
    word-wrap: break-word;
    min-width: 50px;
    max-width: 160px;
    white-space: normal;
}

.userForms
{
    padding: 20px;
}

.nav-tabs > li {
    margin-left: 10px;
    margin-top: 10px;
}